[Desktop Entry]
Name=Kseg
Comment=Interactive geometry system
Comment[pl]=Interaktywny system geometryczny
Icon=
Exec=kseg
Terminal=false
Type=Application
# vi: encoding=utf-8
